<!-- inicio-->
<div class="encabezado-container">
    <img src="assets/imagenes/salvusHealth.jpg" alt="Salvus Health Logo">
    
  </div>

<div class="bienvenida-container">
    <h1>Bienvenido a la aplicación Salvus</h1>
    <p>La aplicación para tu bienestar sanitario</p>
    <div class="botones-container">
      <button class="boton-azul" (click)="irALogin()">Iniciar Sesión</button>
      <button class="boton-azul" (click)="irARegistro()">Registrarse</button>
    </div>

    <div class="boton-temporal">
      <button class="boton-azul" (click)="irAprincipal()">Ir a principal</button>
    </div>
    
  </div>
 

  